<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>URL Details<small> ( <%= link_to 'Edit', edit_url_path(@url) %> ) </small></h1>
</div>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><%= link_to 'Urls', urls_path %></li>
  <li class="active">View: <%= @url.url %></li>
</ol>

<div class='row' style='margin:0px; padding:0px'>
  <div class='pull-left' style='padding-top:25px; padding-bottom:25px'>
    <table class='table table-hover'>
      <tbody>
          <tr>
              <td>Last visit:</td>
              <td><strong><%= @url.visited_at or 'Never' %></strong></td>
          </tr>
          <tr>
            <td>Status:</td>
            <td><strong><%= @url.status %></strong></td>
          </tr>
          <tr>
            <td>Internal links:</td>
            <td><strong><%= @url.internal_links %></strong></td>
          </tr>
          <tr>
            <td>External links:</td>
            <td><strong><%= @url.external_links %></strong></td>
          </tr>
      </tbody>
    </table>
  </div>

  <% if @url.internal_links > 0 && @url.external_links > 0 %>
  <div class='pull-right'>
    <div id="donutchart" style="width: 500px; height: 250px;"></div>
  </div>
  <% end %>
</div>


<% @sites.each do |site| %>
    <% if @url.links.where(:site_id => site.id).length > 0 %>
        <div>
          <h3><%= site.code %><small> ( <%= site.domain %> ) </small></h3>
        </div>
        <table class='table table-striped table-hover'>
          <thead>
          <tr>
            <th>Url</th>
            <th>Anchor</th>
            <th>Status</th>
            <th>Affiliate</th>
            <th align='center'>Campaign</th>
            <th align='right' width=200>Last update</th>
          </tr>
          </thead>
          <tbody>
          <% @url.links.where(:site_id => site.id).each do |link| %>
              <tr>
                <td><%= link_to link.link, link.link %></td>
                <td><%= link.anchor %></td>
                <td><%= link.status %></td>
                <td><%= link.affiliate %></td>
                <td align='center'><%= link.campaign %></td>
                <td align='right'><%= link.updated_at %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
<% end %>


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Link Type', 'number'],
            ['Internal links', <%= @url.internal_links %>],
            ['External links', <%= @url.external_links %>]
        ]);

        var options = {
            title: 'Internal vs External links',
            pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
    }
</script>


