<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @site.code %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @site.domain %>
</p>

<p>
  <strong>Campaignid:</strong>
  <%= @site.campaignId %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
